{% extends "site_base.html" %}
{% load staticfiles pagination_tags %}
{% load url from future %}

{% block head_title %}{{ object }} {{ block.super }}{% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/uploadifive.css' %}">
<style type="text/css">
.uploadifive-button {
    float: left;
    margin-right: 10px;
}
#queue {
    border: 1px solid #E5E5E5;
    overflow: auto;
    margin-bottom: 10px;
    padding: 0 3px 3px;
}
</style>
{% endblock %}

{% block body %}
<div class="span9">
    <h1>Upload Matches</h1>
    <div id="queue"></div>
    <div id="osx-replay-location">
      <p>On OSX your replays are located by default in:</p>
      <code>/Users/&lt;username&gt;/Library/Application Support/Blizzard/StarCraft II/Accounts/&lt;randomnumber&gt;/&lt;randomstring&gt;/Replays/</code>
    </div>
    <div id="windows-replay-location">
      <p>On Windows your replays are located by default in:</p>
      <code>C:\Users\&lt;username&gt;\Documents\Starcraft II\Accounts\&lt;randomnumber&gt;\&lt;randomstring&gt;\Replays</code>
    </div>
    <form method="POST" action="." class="form-horizontal" id="uploadform" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-actions">
            <div>
                <input type="file" class="input-xlarge" name="replay_file" id="id_replay_file">
            </div>
            <button class="btn btn-success" type="submit">
            Upload Replays
            </button>
        </div>
    </form>
</div>
<div class="span3">
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/jquery.uploadifive-v1.0.js' %}" type="text/javascript"></script>

    <script type="text/javascript">
        $(function() {
            var $f = $("#uploadform");
            var $i = $("#id_replay_file");
            /*$f.find('input').hide()
            $f.submit(function(e){
                e.preventDefault();
                $i.uploadifive('upload')
            })
            $i.uploadifive({
                'auto'         : false,
                'dnd'          : true,
                height: 'auto',
                width: 'auto',
                'queueID'      : 'queue',
                'uploadScript' : $f.attr('action'),
                'buttonText'   : 'Choose Replays',
                'buttonClass'  : 'btn btn-primary',
            });*/
        });
    </script>
{% endblock %}
